.App {
  width: 350px;
  margin-left: 25px;

}
.movie-container {
  border: 5px solid black;
}
.poster {
  height: 100px;
  width: 75px;
}

.color {
  font-weight: bold;
  width:100px;
  text-align: center;
  margin:0;
}