* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #463f3a;
  color: #e8eddf;
  display: grid;
  grid-template-rows: 100px 1fr
}

.sectionTitle {
  margin: 40px
}

.moviesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.MovieItem {
  margin: 25px;
}

.movieGenreLabels {
  padding: 0px 10px;
  margin: 10px
}

p {
  font-weight: 500;
}

.movieTitle {
  font-size: 2.5vw;
}

.date {
  font-size: .75rem;

}

.overview {
  height: 100px;
  overflow: scroll;
  padding: 25px
}

.MovieItem {
  background: #242423;
  outline: 2px solid #f5cb5c;
}

.MovieItem img {
  height: 300px;
}